.GameContainer {
  text-align: center;
  width:800px;
  height: 800px;
  background: linear-gradient(#00f260, #0575e6);
  position: relative;
  margin: 0 auto;
  color: white;
}
h2, p{
    margin: 0;
}

#red{
  background-color: red;
}

#green{
  background-color: green;
}
