h1{
  width: 300px;
  height: 300px;
  background-color: #0575e6;
  float: left;
  padding: 10px;
  margin: 10px;
  position: relative;
  left: 8%;
  border-radius: 25px;
}
h1:hover {
    background-color: red;
    border-radius: 25px;
}
